/* Custom Scrollbar for Order Summary */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
}
