<div class="animate-content">
  <!-- title -->
  <div class="flex items-center gap-4 pb-6 border-b border-slate-100">
    <div
      class="w-14 h-14 rounded-2xl bg-slate-50 flex items-center justify-center text-slate-400 border border-slate-100 shadow-sm"
    >
      <i class="fa-solid fa-shield-halved text-xl text-brand"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-xl font-black text-slate-900 tracking-tight">Security Settings</h2>
      <p class="text-slate-500 text-sm font-medium">
        Update your password to keep your account safe.
      </p>
    </div>
  </div>

  <!-- inputs -->
  <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="grid gap-8 rounded-2xl">
    <!-- current password -->
    <div class="flex flex-col gap-2">
      <label class="text-[11px] font-black text-slate-500 uppercase tracking-wider ml-1"
        >Current Password</label
      >
      <div class="relative group">
        <input
          #currentPass
          formControlName="currentPassword"
          type="password"
          placeholder="Enter your current Password"
          [class.border-red-400]="
            changePasswordForm.get('currentPassword')?.errors &&
            changePasswordForm.get('currentPassword')?.touched
          "
          class="placeholder:font-semibold placeholder:text-slate-400 w-full px-4 py-3 rounded-xl border border-slate-200 bg-white focus:ring-4 focus:ring-brand/5 focus:border-brand outline-none transition-all text-sm font-bold"
        />
        <button
          type="button"
          (click)="currentPass.type = currentPass.type === 'password' ? 'text' : 'password'"
          class="cursor-pointer absolute right-4 top-1/2 -translate-y-1/2 text-slate-400 hover:text-brand transition-colors"
        >
          <i
            class="fa-solid"
            [class.fa-eye]="currentPass.type === 'password'"
            [class.fa-eye-slash]="currentPass.type === 'text'"
          ></i>
        </button>
      </div>

      @if (
        changePasswordForm.get('currentPassword')?.errors &&
        changePasswordForm.get('currentPassword')?.touched
      ) {
        <div
          class="mt-2 ml-2 text-2xs font-bold text-red-500 tracking-tight flex items-start gap-1"
        >
          <i class="fa-solid fa-circle-exclamation mt-0.5"></i>

          <ul class="list-none p-0 m-0">
            @if (changePasswordForm.get('currentPassword')?.hasError('required')) {
              <li>Current password is required</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- new password -->
    <div class="flex flex-col gap-2">
      <label class="text-[11px] font-black text-slate-500 uppercase tracking-wider ml-1"
        >New Password</label
      >
      <div class="relative group">
        <input
          #newPass
          formControlName="password"
          type="password"
          placeholder="Enter your new password"
          [class.border-red-400]="
            changePasswordForm.get('password')?.errors &&
            changePasswordForm.get('password')?.touched
          "
          class="placeholder:font-semibold placeholder:text-slate-400 w-full px-4 py-3 rounded-xl border border-slate-200 bg-white focus:ring-4 focus:ring-brand/5 focus:border-brand outline-none transition-all text-sm font-bold"
        />
        <button
          type="button"
          (click)="newPass.type = newPass.type === 'password' ? 'text' : 'password'"
          class="cursor-pointer absolute right-4 top-1/2 -translate-y-1/2 text-slate-400 hover:text-brand transition-colors"
        >
          <i
            class="fa-solid"
            [class.fa-eye]="newPass.type === 'password'"
            [class.fa-eye-slash]="newPass.type === 'text'"
          ></i>
        </button>
      </div>

      @if (
        changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched
      ) {
        <div
          class="mt-2 ml-2 text-2xs font-bold text-red-500 tracking-tight flex items-start gap-1"
        >
          <i class="fa-solid fa-circle-exclamation mt-0.5"></i>

          <ul class="list-none p-0 m-0">
            @if (changePasswordForm.get('password')?.hasError('required')) {
              <li>New password is required</li>
            }
            @if (changePasswordForm.get('password')?.hasError('pattern')) {
              <li>Password is too weak (Min. 8 chars, 1 Upper, 1 Special)</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- confirm password -->
    <div class="flex flex-col gap-2">
      <label class="text-[11px] font-black text-slate-500 uppercase tracking-wider ml-1"
        >Confirm New Password</label
      >
      <div class="relative group">
        <input
          #confirmPass
          formControlName="rePassword"
          type="password"
          placeholder="Confirm your password"
          [class.border-red-400]="
            changePasswordForm.get('rePassword')?.errors &&
            changePasswordForm.get('rePassword')?.touched
          "
          class="placeholder:font-semibold placeholder:text-slate-400 w-full px-4 py-3 rounded-xl border border-slate-200 bg-white focus:ring-4 focus:ring-brand/5 focus:border-brand outline-none transition-all text-sm font-bold"
        />
        <!-- Show Password -->
        <button
          type="button"
          (click)="confirmPass.type = confirmPass.type === 'password' ? 'text' : 'password'"
          class="cursor-pointer absolute right-4 top-1/2 -translate-y-1/2 text-slate-400 hover:text-brand transition-colors"
        >
          <i
            class="fa-solid"
            [class.fa-eye]="confirmPass.type === 'password'"
            [class.fa-eye-slash]="confirmPass.type === 'text'"
          ></i>
        </button>
      </div>

      <!-- error message -->
      @if (
        changePasswordForm.get('rePassword')?.errors &&
        changePasswordForm.get('rePassword')?.touched
      ) {
        <div
          class="mt-2 ml-2 text-2xs font-bold text-red-500 tracking-tight flex items-start gap-1"
        >
          <i class="fa-solid fa-circle-exclamation mt-0.5"></i>

          <ul class="list-none p-0 m-0">
            @if (changePasswordForm.get('rePassword')?.hasError('required')) {
              <li>Confirm password is required</li>
            }
            @if (changePasswordForm.get('rePassword')?.hasError('mismatch')) {
              <li>Passwords don't match</li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- update button -->
    <div class="pt-4">
      <button
        type="submit"
        class="cursor-pointer w-full bg-slate-950 text-white px-8 py-3.5 rounded-xl font-bold text-sm hover:bg-brand hover:shadow-xl hover:shadow-brand/20 transition-all active:scale-95 flex items-center justify-center gap-2"
      >
        <i class="fa-solid fa-key text-xs"></i>
        Update Password
      </button>
    </div>
  </form>
</div>
