<div class="fixed top-8 right-5 z-9999 flex flex-col gap-3">
  @for (toast of toasts(); track $index) {
    <div
      [class]="getBgClass(toast.type)"
      class="flex items-center gap-3 px-6 py-3 rounded-xl border shadow-sm min-w-[320px] animate-fade-in-right"
    >
      <!-- icon -->
      <div [class]="getIconClass(toast.type)" class="text-xl">
        @if (toast.type === 'warning') {
          <i class="fa-solid fa-circle-exclamation"></i>
        }

        @if (toast.type === 'success') {
          <i class="fa-solid fa-circle-check"></i>
        }
      </div>

      <div class="flex flex-col flex-1">
        <!-- title -->
        <span [class]="getTextClass(toast.type)" class="text-sm font-bold leading-tight">{{
          toast.title
        }}</span>
        <!-- message -->
        <span [class]="getTextClass(toast.type)" class="text-xs opacity-80">{{
          toast.message
        }}</span>
      </div>

      <!-- delete button -->
      <button
        (click)="remove(toast.id)"
        class="cursor-pointer text-gray-400 hover:text-gray-600 transition-colors ml-2"
      >
        <i class="fa-solid fa-xmark text-sm"></i>
      </button>
    </div>
  }
</div>
